* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #FAFAFA;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-size: 14px;
  padding: 10px;
  border: 2px solid black;
  display: inline-block;
  width: 800px;
}

#generate {
  font-size: 120%;
  padding: 10px;
}

#qrcode {
  margin: 10px 0px;
}


.section {
  margin: 20px 0;
  padding: 10px;
  p.lead {
    font-weight: bold;
  }
}

.new {
  background-color: #f4f8fa;
  border-left: 4px solid #5bc0de;
}

.old {
  background-color: #fcf8f2;
  border-left: 4px solid #f0ad4e;
}

.label {
  font-weight: bold;
}
